:focus {
  outline: 0;
}

.select2-container .select2-selection--single {
  height: 35px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 32px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 5px;
}

.select2-dropdown,
.select2-container--default .select2-selection--single,
.select2-container--default .select2-search--dropdown .select2-search__field {
  background-color: #f8f9fa;
}

a:hover {
  opacity: 0.8;
  text-decoration: none;
  transition: all 300ms ease;
}

.form-control:focus {
  box-shadow: none;
}

.h-link {
  background: #f8f9fa;
  border-bottom: 1px solid #ced4da;
  border-radius: 0 0 32px 0;
  border-right: 1px solid #ced4da;
  color: #000;
  left: 0;
  padding: 8px 16px 10px 12px;
  position: fixed;
  top: 0;
  transition: all 0.25s ease;
  z-index: 1000;
}

.h-link:hover {
  background: #f1f1f1;
  color: #000;
}
